<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <p>Results:</p>
  <% if @repos %>
    <% @repos.each do |repo| %>
      <ul>
        <li><%= repo["full_name"] %>
          <%= link_to repo["full_name"], repo["html_url"] %>
          <%= repo["description"] %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
